<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Activation Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        h1 {
            color: #ff0000;
            text-align: center;
            margin-top: 30vh;
            padding: 20px 0;
        }
        p {
            text-align: center;
            color: #333;
        }
    </style>
</head>
<body>
<h1>Account Activation Error</h1>
<p th:text="${error}"></p>
</body>
</html>
